:root {
  --black: #101014;
  --white: #f9f9f9;
  --light-gray: #f1f1f1;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}