h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

.search-bar input {
    position: absolute;
    border: 0;
    border-radius: 30px;
    inset: 0 0 0 34px;
    padding: 10px;

}
.search-bar input:focus {
    outline: none;
}
.search-bar {
    position: relative;
    border:1px solid;
    border-radius: 30px;
    flex-grow: 1;
    height: 40px;
    padding: 10px 15px;
}

.search-bar:focus-within {
    outline: 1px solid;
}

.pointer:hover,.button:hover {
    cursor: pointer;
}

.card-container {
    margin: 0 0 10px 0;
    min-height: 270px;
}

.card {
    border: 1px solid #eee;
    border-radius: 20px;
    margin: 0 5px;
    padding: 15px 18px;
    box-shadow: 0 0 10px 0px rgba(0 0 0 / 10%);
    background: rgba(255, 255, 255, 0.8);
}

.card .weather-icon {
    width: 100px;
}

/* .today .weather-icon {
    width: 150px
} */

.today {
    max-width: 270px;
}
.card-label .label {
    flex-grow: 1;
    color: #777;

}

.autocomplete {
    position: absolute;
    z-index: 9;
    inset: 40px 0 0;
}
.autocomplete-content {
    border: 1px solid #eee;
    margin-top: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
    padding: 15px 0 10px
}

.autoc-result {
    padding : 5px 0;
    margin-bottom: 5px;
}
.autoc-result > div {
    padding: 5px 25px
}

.autoc-result:hover {
    background: #eee;
    cursor: pointer;
}
.header-wrapper {
    background: #fff;
}